<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<ResultsDirectory>.\TestResults</ResultsDirectory>
	</RunConfiguration>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="Code Coverage" uri="datacollection://microsoft/codecoverage/v2"
						   assemblyQualifiedName="Microsoft.VisualStudio.Coverage.TestAdapter.VsCoverageCollector, Microsoft.VisualStudio.Coverage.TestAdapter, Version=17.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
				<Configuration>
					<CodeCoverage>
						<Format>Cobertura</Format>
						<OutputDirectory>TestResults</OutputDirectory>
						<OutputName>coverage</OutputName>
						<IncludeTestSources>true</IncludeTestSources>
						<FriendlyNames>true</FriendlyNames>
						<UseSourceLink>true</UseSourceLink>
					</CodeCoverage>
					<CodeCoverageTool>
						<ToolPath>C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Team Tools\Instrumentation\CodeCoverage.exe</ToolPath>
					</CodeCoverageTool>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>